site_name: Моя документация

theme:
   name: material
   # Убираем navigation.instant — он ломает плавную прокрутку
   features:
      - navigation.tracking
      - search.suggest
      - search.highlight
      - content.code.copy

extra_css:
   - stylesheets/extra.css

markdown_extensions:
   - attr_list
   - admonition
   - toc:
        permalink: true
   - pymdownx.superfences
   - pymdownx.highlight

nav:
   - Главная: index.md
   - Руководство пользователя: user-guide.md
